services:
  neo4j:
    build:
      context: ./Hybrid-RAG/neo4j
      dockerfile: Dockerfile
    container_name: neo4j
    environment:
        NEO4J_AUTH: "neo4j/ps_neo4jj"
        NEO4J_apoc_export_file_enabled: "true"
        NEO4J_apoc_import_file_enabled: "true"
        NEO4J_apoc_import_file_use__neo4j__config: "true"
        NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
    ports:
      - 7474:7474
      - 7687:7687
    restart: unless-stopped
    depends_on:
     - ollama
    volumes:
      - ./Hybrid-Rag/neo4j/data:/data
      - ./Hybrid-Rag/neo4j/logs:/logs
      - ./Hybrid-Rag/neo4j/plugins:/plugins
      - ./Hybrid-Rag/neo4j/config:/config
    networks:
      - rag-net
    
  graph-rag:
    build:
      context: ./Hybrid-Rag
      dockerfile: Dockerfile
    container_name: graph-rag
    ports:
      - 8008:8000
    restart: unless-stopped
    depends_on:
     - neo4j
    networks:
      - rag-net

  vektor-rag:
    build:
      context: ./Vektor-RAG/server
      dockerfile: Dockerfile
    container_name: chroma
    ports:
      - 8000:8000
    restart: unless-stopped
    depends_on:
     - ollama
    environment:
      - PYTHONUNBUFFERED=1         # Logs sofort anzeigen
    networks:
      - rag-net

  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    depends_on:
      - ollama
    ports:
      - 3000:8080
    volumes:
      - ./open-webui:/app/backend/data
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='                 # Nur in Prod
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    volumes:
      - ./ollama:/root/.ollama
    container_name: ollama
    ports:
      - 30001:11434
    pull_policy: always
    tty: true
    restart: unless-stopped
    networks:
      - rag-net

networks:
  rag-net:
    external:
      false
   