langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-neo4j
langchain-experimental
langchain_core
sentence-transformers
langchain-openai
neo4j
tiktoken
yfiles_jupyter_graphs
python-dotenv
json-repair